* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    --header-height: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    background-color: #e3e3ff;
    border-bottom: 7px solid rgb(77, 119, 255);
    align-items: center;
    min-height: var(--header-height);
}


.logo--1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #313131;
}

.logo--2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 35px;
    padding-left: 80px;
    line-height: 50px;
    color: #313131;
}

header h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #313131;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.date input {
    border: none;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
}

.container {
    display: flex;
    background-color: rgb(227, 227, 255);
    height: calc(100vh - var(--header-height));
    
}

aside {
    background-color: #4d77ff;
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    padding-top: 30px;
    padding-bottom: 40px;
    transition: all .5s ease;
    margin-left: -200px;
    overflow: hidden;
    position: relative;
    z-index: 99;

}

.menu-closed {
    display: flex;
    justify-content: center;
    width: 50px;
}

.menu--button {
    height: 30px;
    width: auto;
    fill: #f2f2f2;
    transition: all .5s ease;
    transform-origin: center;
}

.menu--button--rotate {
    transform: rotate(90deg);
}

.menu--opened {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    overflow: hidden;
}

.plans {
    width: 85%;
    position: relative;
    overflow: auto;
}

button {
    display: block;
    width: 100%;
    cursor: pointer;
}

.plan-creator {
    background-color: #FFF;
    width: 100%;
    padding: 15px 10px;
}

#plan--creator--form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#plan-name {
    height: 20px;
    padding: 5px;
    color: #303030;
}

.plan--creator--buttons {
    display: flex;
}

.new-plan-btn {
    background-color: #fff;
    border: none;
    width: 100%;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #eee;
    font-size: 15px;
    font-weight: 500;
    color: #303030;
    letter-spacing: 1px;
}

.new-plan-btn:hover {
    background-color: #eee;
}

#plan--creator--form label {
    font-size: 0.8rem;
    color:#303030;
    font-weight: 500;
    margin-bottom: 5px;
}

#plan--creator--form label input {
    width: 100%;
    margin-top: 7px;

}

.plan--creator--buttons {
    gap: 10px;
    margin-top: 8px;
}
.plan--creator--buttons button {
    display: inline-block;
    color: #FFF;
    background-color: #4d77ff;
    border: none;
    padding: 4px 0px;
}

.plan--creator--buttons button:hover {
    color: rgb(255, 253, 253);
    background-color: #7392f8;
}

.plan-model {
    background-color: #FFF;
    padding: 5px;
    margin-bottom: 10px;
}

.open {
    transform: translateX(200px);
}

.plans--list {
    margin-top: 20px;
}

.plans--list li {
    list-style: none;
    border: 2px solid #FFF;
}

.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.new-task-btn,
.delete-plan-btn {
    display: inline-block;
    color: #FFF;
    background-color: #4d77ff;
    border: none;
    padding: 4px 0px;
    margin-bottom: 5px;
}

.new-task-btn:hover,
.delete-plan-btn:hover {
    color: rgb(255, 253, 253);
    background-color: #7392f8;
}

.plan span {
    color: #FFF;
    background-color:  rgb(85, 170, 85);
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}

.plan span:hover {
    background-color:  rgb(71, 141, 71);
}



footer {
    text-align: center;
    position: fixed;
    color: #FFF;
    bottom: 0;
    font-size: 0.7rem;
    width: 200px;
    padding-bottom: 15px;
    background-color: rgb(77, 119, 255);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    overflow-x: auto;   
}

.task--box {
    display: flex;
    flex-direction: column;
    color: #313131;
    height: 100%;
    overflow-y: hidden;
}

.task--box--title {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    background-color: #f5f5f5;
    text-shadow: 1px 1px 3px #c0d3d0;
    margin: 20px 15px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px #c0d3d0;
    
}

.task--box--area {
    background-color: #f5f5f5;
    margin: 0 15px;
    box-shadow: 0px 0px 20px #c0d3d0;
    height: 100%;
    overflow-y: auto;
}

.pi--icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pi--icons svg {
    height: 20px;
    width: 20px;   
}

.pi--icon--plus {
    transform: rotate(45deg);
}

.pi-textarea {
    flex: 1;
    padding-top: 5px;
    font-family: 'Cookie', cursive;
    font-size: 23px;
    padding-top: 7px;
}

.flex-end {
    justify-content: flex-end !important;
}

.pi-arrows-area {
    display: flex;
    justify-content: space-between;
}

.pi--arrow-left,
.pi--arrow-right {
    height: 20px;
    width: auto;
    fill: #313131;  
}

.pi--arrow-left {
    transform: rotate(180deg);
}

.post--it--box--area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    padding: 15px;
}

.post-it-area {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 150px;
    padding: 15px;
    background-color: rgb(129, 255, 129);
    box-shadow: 5px 5px 5px #c0d3d0;
    position: relative;
    touch-action: auto;
}

.post-it--main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.pi--icon--plus:hover, 
.pi--arrow-left:hover,
.pi--arrow-right:hover,
.pi--xmark:hover {
    fill: #d1d9e4;
}

.post-it--float,
.pi-textarea-edit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 5px;
    position: absolute;
    background-color: #FFF;
    border: 3px solid #4d77ff;
    border-radius: 15px;
    padding: 10px 20px;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    margin-bottom: 3px;
}

.post-it--float .pi--xmark,
.pi-textarea-edit .pi--xmark {
    width: 15px;
    fill:#4d77ff;
}

.pi--float--buttons {
    display: flex;
    flex: 1;
    padding: 30px 0px;
    width: 100%;
    gap: 10px;
}

.pi--float--buttons button {
    color: #FFF;
    background-color: #4d77ff;
    border: none;
    padding: 4px 0px;
   
}
.pi--float--buttons button:hover {
    color: rgb(255, 253, 253);
    background-color: #7392f8;
   
}

#textarea-form-edit {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    font-size: 0.7rem;
}

#tfe--task--name {
    width: 100%;
    color: #303030;
}

.tfe--save-btn {
    color: #FFF;
    background-color: #4d77ff;
    border: none;
    padding: 4px 0px;
}

.post-it-area.dragging {
    opacity: 0.4;
}

.hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.new-task-criator {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(77, 119, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}

#ntc--form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top-right-radius: 10px;
    background-color: #FFF;
    width: 200px;
    height: 160px;
    padding: 10px;
    font-size: .8rem;
}

#ntc--form label {
    font-weight: 500;
}

#ntc--form input {
    height: 20px;
    padding: 3px;
    color: #303030;
}

#ntc--form input,
#color--task {
    margin-top: 7px;
}

#ntc--form #task--name {
    width: 100%;
}

.ntc--form--buttons {
    display: flex;
    gap: 5px;
  
}

.ntc--form--buttons button {
    display: inline-block;
    display: inline-block;
    color: #FFF;
    background-color: #4d77ff;
    border: none;
    padding: 4px 0px;
    margin: 5px 0px;
}

.hide {
    display: none;
}

.plan--active {
    background-color: #F00 !important;
   

}

.plan--active:hover {
    background-color: rgb(194, 3, 3) !important;
}

@media (max-width: 540px) {
    header {
        padding: 0px 10px;
    }
}

@media (max-width: 360px) {
    .logo--2 {
        padding-left: 55px;
    }
}

